.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;

  img {
    cursor: pointer;
  }
}
.gallery-items-container {
  .uploader {
    img {
      max-height: 400px;
      width: auto;
      margin: 0 auto;
      display: table;
    }
  }
}
.upload-btn {
  margin-bottom: 2vh !important;
  cursor: pointer;
}

.my-popup-modal {
  img {
    width: auto;
    margin-top: 4vh;
    margin-left: 2vw;
    max-height: 80vh;
  }

  .close-icon {
    color: black;
    font-size: 20px;
    float: right;
  }

  .delete {
    float: right;
    margin-top: 1vh;
  }
}
