.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.upload-btn {
  margin-bottom: 2vh !important;
}
.my-popup-modal img {
  width: 55vw;
  margin-top: 4vh;
  margin-left: 2vw;
}
.my-popup-modal .close-icon {
  color: black;
  font-size: 20px;
  float: right;
}
.my-popup-modal .delete {
  float: right;
  margin-top: 1vh;
}
