#contact {
  .content-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .contact-form {
      display: grid;
      grid-template-rows: 15% 15% 79% 10%;
      margin-left: 90px;

      .inputarea {
        width: 275px;
      }

      .btn {
        margin-left: 205px;
      }
      #textarea {
        height: 270px;
      }
    }
  }
}
