#Kontakt .content-display {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 100px;
}
#Kontakt .content-display .contact-form {
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: 15% 15% 79% 10%;
  margin-left: 90px;
}
#Kontakt .content-display .contact-form .name-input,
#Kontakt .content-display .contact-form .email-input {
  margin-top: 3px;
  width: 275px;
  border: none;
  background-color: #171717;
  height: 25px;
  color: whitesmoke;
  border-radius: 5px;
}
#Kontakt .content-display .contact-form .inputarea {
  margin-top: 3px;
  width: 275px;
  border: none;
  background-color: #171717;
  height: 270px;
  color: whitesmoke;
  border-radius: 5px;
}
#Kontakt .content-display .contact-form .submit {
  position: relative;
}
#Kontakt .content-display .contact-form .submit .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #4c4c4c;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid #4c4c4c;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
#Kontakt .content-display .contact-form .submit .btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #4c4c4c;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
#Kontakt .content-display .contact-form .submit .btn::after {
  content: '';
  display: inline-block;
  background-image: url('https://image.flaticon.com/icons/png/128/109/109617.png');
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
#Kontakt .content-display .contact-form .submit .btn:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
#Kontakt .content-display .contact-form .submit .btn:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
#Kontakt .content-display .contact-form .submit .btn:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
#Kontakt .content-display .error {
  color: red;
}
#Kontakt .content-value {
  grid-row-start: 2;
  grid-row-end: 3;
  opacity: 0.8;
  font-size: 15px;
  margin-top: 90px;
}
#Kontakt .content-value p {
  line-height: 1em;
}
