.display-crew {
  display: grid;
  grid-gap: 40px;

  .crew {
    display: grid;
    // grid-template-columns: 365px 1fr;
    grid-template-rows: 50px 1fr;
    overflow: hidden;

    .title-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px;

      .name {
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 30px;
      }

      .job {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 20px;
        margin-top: 14px;
      }
    }

    .about-container {
      grid-row-start: 2;
      grid-row-end: 3;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 30px;

      .profile-img {
        grid-column-start: 1;
        grid-column-end: 2;

        max-width: 100%;
        height: auto;
        width: 250px;
      }

      .about {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
  }
}
