.description {
  padding-bottom: 10vh;
}

.slider-container {
  overflow-x: hidden;
  overflow-y: hidden;

  .slider {
    transition: 0.2s;

    .gallery-item-container {
      float: left;

      .gallery-items {
        border-style: none;
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
}

.arrow-container {
  position: relative;

  #right-arrow {
    right: -30px;
    box-shadow: -2px 0px 1px rgb(0 0 0 / 50%);

    .bi {
      margin-left: -15px;
    }
  }

  #left-arrow {
    left: -30px;
    box-shadow: -2px 0px 1px rgb(0 0 0 / 50%);

    .bi {
      margin-left: -15px;
    }
  }
  .slider-arrow {
    position: absolute;
    color: rgb(10, 10, 10);
    background-color: rgba(255, 235, 205, 0.8);
    width: 38px;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(255, 235, 205, 0.9);
      transition: 0.15s;
    }
  }
}
