header {
  background-color: black;
  height: 45px;
  line-height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;

  .menu {
    height: 100%;

    a {
      color: blanchedalmond;
      text-transform: uppercase;
      font-size: large;
      height: 100%;
      display: inline-block;
      padding: 0 15px;
      transition: 100ms;

      &:hover {
        color: red;
      }
    }
  }
}
