.home-page-container {
  opacity: 1;
  height: auto;
  min-height: 50vh;
  color: blanchedalmond;
  margin: 0 auto;
  z-index: 0;
  font-size: medium;
  top: 10vh;
  position: relative;
  width: 85vw;
  max-height: 80vh;
  display: grid;
  gap: 2vw;
  grid-template-columns: 30vw 1fr;
}
.home-page-container .title-container {
  width: auto;
  height: 134px;
  margin-top: 17vh;
  /* background: rgba(128,86,86,.5); */
  padding-left: 20px;
}
.home-page-container .title-container img {
  display: block;
  max-width: 45vw;
}
.home-page-container .title-container p {
  text-align: left;
  color: #ffebcd;
  margin: 0 2px;
  margin-left: 15px;
}
.home-page-container .video-container video {
  margin-top: 7vh;
  width: 30vw;
  box-shadow: 0 0 0 3px #fff;
}
