#root,
.App,
main,
.page {
  height: 100%;
}
.App {
  padding-top: 45px;
}
.page .background {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.page .background .background-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.page .background .content-container {
  background: rgba(0, 0, 0, 0.7);
  color: blanchedalmond;
  margin: 0 auto;
  width: 95%;
  backdrop-filter: blur(2px);
  padding: 40px 50px;
  z-index: 0;
  font-size: medium;
  top: 10vh;
  position: relative;
}
.page .background .content-container .title {
  text-transform: uppercase;
}
.page .background .content-container .content-value {
  line-height: normal;
}
@media (max-width: 576px) {
  .page .background .background-img {
    left: -50vh;
    right: auto;
    max-height: 100%;
  }
}
@media (min-width: 577px) {
  .page .background .background-img {
    max-width: 100%;
  }
}
