#root,
.App,
main,
.page {
  height: 100%;
}
.App {
  padding-top: 45px;
}
.page .background {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  width: calc(100% + 20px);
}
.page .background .background-img {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.page .background .background-img.full-bg {
  opacity: 0;
}
.page .background .background-img.full-bg.visible {
  opacity: 1;
}
.page .background .background-img.small-bg {
  filter: blur(2px);
  min-width: 100%;
  min-height: 100%;
}
.page .background .background-img.small-bg.max-height {
  height: 200%;
  width: auto;
}
.page .background .background-img.small-bg.max-width {
  width: 200%;
  height: auto;
}
.page .background .background-img.max-height {
  max-height: 100%;
  top: 90px;
}
.page .background .background-img.max-width {
  max-width: 100%;
}
.page .background .content-container {
  opacity: 0;
}
.page .background .content-container.visible {
  opacity: 1;
  height: auto;
  min-height: 50vh;
  background: rgba(0, 0, 0, 0.185);
  color: blanchedalmond;
  margin: 0 auto;
  backdrop-filter: blur(1.5px);
  padding: 40px;
  z-index: 0;
  font-size: medium;
  top: 10vh;
  position: relative;
  max-width: 1069px;
  width: 90vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.page .background .content-container.visible .title {
  text-transform: uppercase;
}
.page .background .content-container.visible .content-value {
  line-height: normal;
}
